{% extends 'base.html' %} {% block head %}
<title>Todo task manager</title>
{% endblock %} {% block body %}

<section class="section has-text-centered">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title is-1">Task Manager</h1>
        {% if tasks|length < 1 %}
        <h4>There are no tasks, create one below</h4>
        {% else %}
        <table class="table is-">
          <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
          </tr>
          {% for task in tasks%}
          <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
              <div class="buttons">
                <a class="button is-info" href="/update/{{ task.id }}">
                  Update
                </a>
                <a class="button is-danger" href="/delete/{{ task.id }}"
                  >Delete</a
                >
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>

        {% endif %}

        <form action="/" method="POST" class="">
          <div class="field">
            <div class="control">
              <input type="text" name="content" id="content" class="input" />
            </div>
          </div>
          <div class="field">
            <div class="control has-text-centered">
              <input type="submit" value="Add task" class="button is-info" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}