{% extends 'base.html' %} {% block head %}
<title>Task master</title>
{% endblock %} {% block body %}
<section class="section has-text-centered">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title is-1">Update Task</h1>

        <form action="/update/{{ task.identity }}" method="POST" class="">
          <nav class="level">
            <div class="level-item">
              <input type="text" name="content" id="content" class="input" value="{{ task.content }}" />
            </div>
            <div class="level-item">
              <input type="submit" value="Update task" class="button is-info" />
            </div>
          </nav>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
